.App {
  text-align: center;
}

.desc {
  text-align: center;
  width: 80vw; 
  margin: auto;
}

.p-button-sm {
  margin: 3px !important;
}

.p-splitbutton .p-button-label {
  font-weight: normal;
}

/* h1 {

} */